* {
  margin: 0px 3%;
  align-items: center;
}
.tittle {
  display: flex;
}

.tittle > img {
  width: 5%;
  margin: 1%;
}

h2 {
  padding: 2% 0px;
}

.controlpad {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% 0;
}

.controlpad > button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.controlpad > button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container {
  border: 2px outset rgb(0, 3, 2);
  height: 100vh;
}
