/* .content, */
.order {
  /* border-bottom: none; */
  text-align: center;
  /* font-size: larger; */
}

/* .order,
.content:focus {
  border-bottom: none;
} */

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
