body {
  background-image: linear-gradient(to right, rgb(27, 27, 27), rgb(126, 126, 126));
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button > button {
  height: 4em;
  width: 100%;
  color: white;
  background-color: #4db6ac;
  padding: 0;
  border: 0;
}

h3 {
  color: white;
}
